<div class="panel-heading"><h3><%= "Edit #{get_store_name(@comment.store_id)} Detail" %> </h3></div>

<%= render 'form' %>

<div class="panel-footer">
  <%= link_to "Back to List", {:controller => "comments", :action => "index", :store_id => @comment.store_id}, :class => "btn btn-link" %> |
  <%= link_to "Show", @comment, :class => "btn btn-link" %>
</div>
