<div class="panel-heading"><h3>New comment for <%= get_store_name(@store_id)%></h3></div>

<%= render 'form' %>

<div class="panel-footer">
	<%= link_to "Back to List", {:controller => "comments", :action => "index", :store_id => @store_id}, :class => "btn btn-link" %>
</div>
