// alert("<%=j raw @last_store_id.to_json %>");
$('#store_id_part2').replaceWith('<%= text_field_tag "store_id_part2", @store_id_part2.type_id, :class => "form-control", :disabled => "true" %>');
$('#last_store_id').replaceWith('<p id="last_store_id">last store id: <%= @last_store_id %></p>');