// alert("<%=j raw @params.to_json %>");

$('#button').replaceWith('<td id="button"><%= link_to "Go", {:controller => "stores", :action => "index", :major_type_id => @major_type_id.to_s, :minor_type_id => @minor_type_id.to_s }, :class => "btn btn-primary" %></td>');  	
$('#store_minor_type_id').html('<%=j options_for_select(@minor_type_arr) %>');
$('#last_store_id').replaceWith('<p id="last_store_id">last store id: <%= @last_store_id %></p>');