<div class="panel-heading"><h3>New Store</h3></div>

<%= render 'form' %>

<div class="panel-footer">
	<%= link_to "Back to Menu", {:controller => "stores", :action => "menu"}, :class => "btn btn-link" %>
</div>
