<div class="panel-heading"><h3>Edit Major Type</h3></div>

<%= render 'form' %>

<div class="panel-footer">
  <%= link_to "Back to List", major_types_path, :class => "btn btn-link" %> |
  <%= link_to "Show", @major_type, :class => "btn btn-link" %>
</div>
