<div class="panel-heading"><h3>Edit User</h3></div>

<%= render 'form' %>

<div class="panel-footer">
  <%= link_to "Back to List", users_path, :class => "btn btn-link" %> |
  <%= link_to "Show", @user, :class => "btn btn-link" %>
</div>
