<div class="panel-heading"><h3><%= "New #{get_store_name(@store_id)} Detail" %></h3></div>

<%= render 'form' %>

<div class="panel-footer">
	<%= link_to "Back to List", {:controller => "details", :action => "index", :store_id => @store_id}, :class => "btn btn-link" %>
</div>
